# Python Basics: Input and Output Examples

### Example 1: Basic Text Output

In [ ]:
print('Hello there.')
print('My name is...')
print('Carl?')

### Example 2: Printing Variables and Multiple Values

In [ ]:
wage = 400
print('Your daily wage is $', wage)

weekly_wage = 2000
print('$', wage, 'per day is $', weekly_wage, 'per week')

### Example 3: Keeping Output on the Same Line

In [ ]:
print('Hello there.', end=' ')
print('My name is...', end=' ')
print('Carl?')

### Example 4: Using Newline Characters

In [ ]:
print('Name\tJob\n------------------')
print('Ann\tDeveloper\nJoe\tInfluencer')

### Example 5: Basic Input

In [ ]:
print('Enter the name of your best friend:', end=' ')
best_friend = input()
print('My best friend is', best_friend)

### Example 6: Converting Input to Integers

In [ ]:
print('Enter wage:', end=' ')
wage = int(input())  # Convert input string to an integer
new_wage = wage + 10
print('New wage:', new_wage)

### Example 7: Input Prompt

In [ ]:
hourly_wage = int(input('Enter hourly wage: '))
print('Salary is', hourly_wage * 40 * 52)

### Example 8: Output an Eight with Asterisks

In [ ]:
print('*****')
print('*   *')
print('*****')
print('*   *')
print('*****')

### Example 9: Reading Multiple Inputs

In [ ]:
x = input('Enter the first value: ')
y = input('Enter the second value: ')
print('You entered:', x, 'and', y)